.btn-outline {
  background-color: transparent;
  color: var(--gf-color-darkblue);
  border: 2px solid var(--gf-color-darkblue);
  padding: 0.5rem 1rem;
  border-radius: var(--gf-radius);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.btn-outline:hover {
  background-color: var(--gf-color-blue-light-hover);
  color: var(--gf-color-white);
  border-color: var(--gf-color-blue-light-hover);
}
