.btn-card {
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #1c4b82;
  color: #fff;
  transition: background-color 0.2s ease;
}

.btn-card:hover {
  background-color: #163a66;
}
