/* ========================= Goat Card ========================= */
.goat-card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  font-family: var(--gf-font-primary);
}

/* Bloco com as informações do animal */
.goat-info {
  background-color: var(--gf-color-white);
  border-radius: var(--gf-radius);
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  flex: 1;
  width: 100%;
  max-width: 720px;
  min-width: 300px;
  color: var(--gf-color-font);
}

.goat-info h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--gf-color-darkgreen);
  font-weight: bold;
}

.goat-info p {
  margin: 2px 0;
  font-size: 0.7rem;
  line-height: 1.2;
}

.goat-info strong {
  color: var(--gf-color-darkgreen);
  font-weight: 600;
}
